<p-dialog header="{{headerName}} Task" [(visible)]="displayEdit" [modal]="true" (onHide)="saveHandler('close')"
    [style]="{ width: '400px' }" class="edit-dialog">

    <form class="edit-form" [formGroup]="toDoForm" >
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" type="text" name="title" formControlName="title" />
        </div>
        <!--
            ask about todo?.title
            -->
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" formControlName="description" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="status">Status</label>
            <p-select id="status" formControlName="status" name="status" [options]="statusOptions" placeholder="Select status..." 
            ></p-select>
        </div>
        <div class="form-group">
            <label for="createdOn">Created On</label>
            <p-datePicker inputId="createdOn" name="createdOn" formControlName="createdOn" dateFormat="dd MM yy"
                showIcon="true" [appendTo]="'body'"></p-datePicker>
        </div>
        <div class="footer-buttons">
            <button pButton label="Cancel" type="button" icon="pi pi-times" class="p-button-text"
                (click)="saveHandler('cancel')"></button>
            <button pButton label="Save" icon="pi pi-check" class="p-button-primary"
                (click)="saveHandler('save')"></button>
        </div>
    </form>



</p-dialog>