<p-dialog header="{{ headerName }} Task" [(visible)]="displayEdit" [modal]="true" (onHide)="closeDialog()" [style]="{ width: '400px' }" class="edit-dialog">
  <form class="edit-form" [formGroup]="toDoForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" type="text" name="title" formControlName="title" />
      @if (invalidFieldChecker('title')) {
        <div style="color: red">
          {{ invalidFieldMessage('title') }}
        </div>
      }
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" formControlName="description" rows="3"></textarea>
      @if (invalidFieldChecker('description')) {
        <div style="color: red">
          {{ invalidFieldMessage('description') }}
        </div>
      }
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <p-select id="status" formControlName="status" name="status" [options]="statusOptions" optionLabel="name" optionValue="id" placeholder="Select status..."></p-select>
      @if (invalidFieldChecker('status')) {
        <div style="color: red">
          {{ invalidFieldMessage('status') }}
        </div>
      }
    </div>
    <div class="form-group">
      <label for="createdOn">Created On</label>
      <p-datePicker inputId="createdOn" name="createdOn" formControlName="createdOn" dateFormat="dd MM yy" showIcon="true" [appendTo]="'body'"></p-datePicker>
      @if (invalidFieldChecker('createdOn')) {
        <div style="color: red">
          {{ invalidFieldMessage('createdOn') }}
        </div>
      }
    </div>
    <div class="footer-buttons">
      <button pButton label="Cancel" type="button" icon="pi pi-times" class="p-button-text" (click)="closeDialog()"></button>
      <button pButton label="Save" type="submit" icon="pi pi-check" class="p-button-primary" (click)="saveHandler()" [disabled]="!toDoForm.valid"></button>
    </div>
  </form>
</p-dialog>
