<p-table  [value]="todoList" [tableStyle]="{ 'min-width': '10rem' }">
    <ng-template #header>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </ng-template>
    <ng-template #body let-todo>
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.status }}</td>
            <td>{{ todo.createdOn }}</td>
        </tr>
    </ng-template>
</p-table>